/* === RESET GENERAL === */
html, body {
  margin:0; padding:0;
  width:100%; height:100%;
  background:#F8F5E6;
  font-family:"Segoe UI",sans-serif;
  overflow:hidden;
}

/* Contenedor de título + botones */
header {
  position: relative;
  width: 100%;
}

h1 {
  text-align:center;
  font-size:1.9rem;
  margin:6px 0;
  font-weight:900;
  color:#51613A;
}

/* === BOTONES EXPORTAR === */
.export-buttons {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 10;
  display: flex;
  gap: 10px;
  align-items: center;
}

.export-buttons button {
  background: #51613A;
  color:#fff;
  font-size: .9rem;
  font-weight: 700;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.export-buttons button:hover {
  background:#3c492c;
  transform: scale(1.05);
}

.btn-regresar {
  background: #3c492c;
  color: #fff;
  border: none;
  padding: 10px 10px;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
}

.btn-regresar:hover {
  background: #51613A;
  transition: 0.3s;
}

/* === GRID PRINCIPAL === */
.main {
  width:100%;
  height:calc(100vh - 70px);
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 47% 53%;
  gap:12px;
  padding:12px;
  box-sizing:border-box;
}

/* === TARJETAS === */
.card-like {
  background:#fff;
  border-radius:14px;
  box-shadow:0 3px 8px rgba(0,0,0,.12);
  padding:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  overflow:hidden;
}

.card-like h2 {
  margin:0 0 10px;
  font-size:1.1rem;
  font-weight:900;
  color:#51613A;
}

/* === PIE === */
.pieContent {
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100%;
}

.pieBox canvas {
  width:36% !important;
  max-width:270px;
  height:auto !important;
}

.legendBox {
  width:38%;
  min-width:140px;
  font-size:.88rem;
  font-weight:600;
}

.legendItem{
  display:flex;
  align-items:center;
  gap:10px;
  font-weight:bold;
}

.legendColor{
  width:14px;
  height:14px;
  border-radius:3px;
  display:inline-block;
}

/* === BARRAS === */
.barBox canvas {
  width:97% !important;
  height:92% !important;
}

/* === LINEA === */
.lineBox {
  grid-column:1 / 3;
}

.lineBox canvas {
  width:98% !important;
  height:95% !important;
  margin-top:-15px;
}

/* === RESPONSIVE === */
@media (max-width: 1050px) {
  body { overflow:auto; }

  .export-buttons {
    position: static;
    justify-content: center;
    margin-bottom: 5px;
  }

  .main {
    grid-template-columns:1fr;
    grid-template-rows:auto auto auto;
    height:auto;
  }

  .lineBox { grid-column:1 / 2; }

  .pieBox canvas,
  .barBox canvas,
  .lineBox canvas {
    width:88% !important;
    height:auto !important;
  }

  .legendBox {
    width:60%;
  }
}

/* Muy pequeño */
@media (max-width: 600px) {
  .pieContent {
    flex-direction:column;
  }
  .legendBox {
    width:80%;
    text-align:center;
  }
}
